name: asset_tracker
description: "Gold Exchance"

# Remove this line if you wish to publish to pub.dev
publish_to: 'none' 

version: 1.0.0+3

environment:
  sdk: ^3.5.4


dependencies:
  flutter:
    sdk: flutter

  
  #application router
  auto_route: ^9.2.2
  
  #UI
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1

  #Localization
  easy_localization: ^3.0.7

  #firebase
  firebase_core: ^3.8.1
  firebase_auth: ^5.3.4
  dartz: ^0.10.1

  #state management solution
  flutter_riverpod: ^2.6.1
  envied: ^1.0.0
  envied_generator: ^1.0.0
  web_socket: ^0.1.6
  test: ^1.25.8
  mockito: ^5.4.5
  dart_style: ^2.3.7
  cloud_firestore: ^5.6.4

  #Multiple Stream Builder
  multiple_stream_builder: ^3.0.2
  fl_chart: ^0.70.2
  skeletonizer: ^1.4.3
  background_fetch: ^1.3.8

dev_dependencies:

  #generator packages
  build_runner: ^2.4.13
  auto_route_generator: ^9.0.0

  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

  #syntax
  flutter_lints: ^4.0.0


flutter:
  uses-material-design: true

  assets:
    - assets/image/
    - assets/image/currency/
    - assets/translations/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #

