name: asset_tracker
description: "Gold Exchance"

# Remove this line if you wish to publish to pub.dev
publish_to: 'none' 

version: 1.0.0+2

environment:
  sdk: ^3.5.4


dependencies:
  flutter:
    sdk: flutter

  
  #application router
  auto_route: ^9.2.2
  
  #UI
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1





dev_dependencies:

  #generator packages
  build_runner: ^2.4.13
  auto_route_generator: ^9.0.0


  flutter_test:
    sdk: flutter

  #syntax
  flutter_lints: ^4.0.0


flutter:
  uses-material-design: true

  assets:
    - assets/image/


  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #

